{% extends 'base.html.twig' %}

{% block title %}Hello ParcoursController!{% endblock %}

{% block body %}

<div class="sidebar">
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="#">course</a></li>
        <li><a href="{{ path('app_parcours') }}">parcours</a></li>
        <li><a href="{{ path('app_beacon') }}">balise</a></li>
    </ul>
</div>
</br>
</br>
</br>
</br>
<h2>Liste des maps</h2>

{% for map in maps %}
    <a href="{{ path('app_map_details', {id: map.id}) }}">{{ map.nameMap }}</a>
{% endfor %}
<br>
<a href="{{ path('app_parcours_create') }}" class="btn-add">
        Ajouter un beacon
</a>
{% endblock %}
