{% extends 'base.html.twig' %}

{% block title %}Beacon{% endblock %}

{% block body %}
<div class="sidebar">
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_race') }}">course</a></li>
        <li><a href="{{ path('app_parcours') }}">parcours</a></li>
        <li><a href="{{ path('app_beacon') }}">balise</a></li>
    </ul>
</div>

<div class="content">
    <h1>Bienvenue sur beacon</h1>
    {% for beacon in beacons %}
        <div style="margin-bottom:20px;">
            <strong>{{ beacon.name }}</strong> - 
            {% if beacon.isPlaced %}
                ✔ Placée
            {% else %}
                ✖ Non placée
            {% endif %}
            <br>
            <img src="{{ path('app_beacon_qr', {'id': beacon.id}) }}" alt="QR Code {{ beacon.name }}">
        </div>
    {% endfor %}
</div>
{% endblock %}