{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}

<!-- NAVBAR -->
<div class="navbar">

    <div class="nav-left">
        <div class="logo">e-CO</div>

        <ul class="nav-links">
            <li>
                <a href="{{ path('app_race') }}"
                   class="{{ app.request.attributes.get('_route') == 'app_race' ? 'active' : '' }}">
                   Courses
                </a>
            </li>
            <li><a href="{{ path('app_parcours') }}">Parcours</a></li>

        </ul>
    </div>

    <div class="nav-right">
        <a href="#" class="btn-logout">Déconnexion</a>
        <span class="gear">⚙</span>
    </div>

</div>

<!-- CONTENU -->
<div class="container">

    <h1>Courses</h1>

    <!-- FILTRE -->
    <div class="filter-bar">
        <input type="text" placeholder="🔍 Filtrer" />
    </div>
    <div style="margin-bottom: 20px;">
        <a href="{{ path('app_race_create') }}" class="btn edit">
            ➕ Nouvelle course
        </a>
    </div>
    <!-- TABLEAU -->
    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Nom Course</th>
                    <th>Nom Parcours</th>
                    <th>Nb. part.</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for race in races %}
                    <tr>
                        <td>{{ race.raceName }}</td>
                        <td>{{ race.parcours.nameMap ?? '—' }}</td>
                        <td>{{ race.nbRunner ?? '—' }}</td>

                        <td class="actions">
                            <a href="{{ path('app_race_details', {id: race.id}) }}" class="btn edit">voir courses</a>
                            <a href="#" class="btn delete">🗑</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucune course trouvée</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}