{% extends 'base.html.twig' %}

{% block title %}Hello RaceController!{% endblock %}

{% block body %}
<div class="sidebar">
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_race') }}">course</a></li>
        <li><a href="{{ path('app_parcours') }}">parcours</a></li>
        <li><a href="{{ path('app_beacon') }}">balise</a></li>
    </ul>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% for race in races %}
    <a href="{{ path('app_race_details', {id: race.id}) }}">{{ race.raceName }}</a>
{% endfor %}
{% endblock %}
